.container {
  width: 100%;
  background-color: #fff5a0;
  border: 2px solid #3f3f3f;
  border-radius: 10px;
  padding: 1rem 1rem 2rem;
  margin: 2rem 0;
}
.container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
}
.flex_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex-grow: 2;
  gap: 2rem;
  width: 100%;
}
.flex_row .flex_item {
  font-size: 1.1rem;
  text-align: center;
  font-weight: 600;
  color: #3f3f3f;
  flex-grow: 1;
}
.flex_row .input_field {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  flex-grow: 1;
  border: 1px solid #3f3f3f;
  border-radius: 5px;
  width: 100%;
  padding: 0.5rem;
}
.flex_row input {
  height: 2.5rem;
}
.file_input {
  display: none;
  overflow: hidden;
  position: absolute;
}
.file_label {
  cursor: pointer;
  color: #3f3f3f;
  padding: 0;
  margin-right: 0.5rem;
  margin-left: -0.5rem;
}
.file_label:hover {
  color: #d068d9;
}
.submit_button {
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #fff;
  padding: 1rem;
  background-color: #6062ac;
}
.submit_button:hover {
  background-color: #d068d9;
}
.feedback {
  position: absolute;
  color: red;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
